<h1>Aid Interviewer</h1>

</br></br>
<form class='center' accept-charset="UTF-8" action="/create" method="post">
  <label> login : <input type="text" name="intv[name]" value="" /></label> </br> </br>
  <label> password : <input type="password" name="intv[password]" value="" size='15px' /></label> </br> </br>
  <div ><input  class="btn btn-lg btn-primary" type="submit" value='Log In' /></div>
</form>
